<div class="row">
  <div class="col-md-3">
    <div class="box" onclick="location.href='#/workshop-list'">Workshops Run
      <br/><br/>
      <span class="number" ng-show="IsVisible">{{ totalWorkshops.toLocaleString() }}</span>
      <span class="number" ng-hide="IsVisible"><img id="mySpinner" src="/static/img/default1.gif"></span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box" onclick="location.href='#/oc-users-list'">Outreach Coordinators
      <br/><br/>
      <span class="number" ng-show="IsVisible">{{ totalOC.toLocaleString() }}</span>
      <span class="number" ng-hide="IsVisible"><img id="mySpinner" src="/static/img/default1.gif"></span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box" onclick="location.href='#/nc-users-list'">Nodal Coordinators
      <br/><br/>
      <span class="number" ng-show="IsVisible">{{ totalNC.toLocaleString() }}</span>
      <span class="number" ng-hide="IsVisible"><img id="mySpinner" src="/static/img/default1.gif"></span>
    </div>
  </div>
  <div class="col-md-3" onclick="location.href='#/usage'">
    <div class="box">Usage
      <br/><br/>
      <span class="number" ng-show="IsVisible">{{ totalUsage.toLocaleString() }}</span>
      <span class="number" ng-hide="IsVisible"><img id="mySpinner" src="/static/img/default1.gif"></span>
    </div>
  </div>
</div>
<script type="text/javascript">
  var dashboard = function(){
  $('a[href="#admin-dashboard"]').click();
  }
</script>
