<div class="row">
  <div class="col-md-3">
    <div class="box" onclick="location.href='#/workshop-list'">Workshops Run
      <br/><br/>
      {{ totalworkshops }}
      </div>
  </div>
  <div class="col-md-3">
    <div class="box" onclick="location.href='#/oc-users-list'">O.C
      <br/><br/>
      {{ totaloc }}
    </div>
  </div>
  <div class="col-md-3">
    <div class="box" onclick="location.href='#/nc-users-list'">N.C
      <br/><br/>
      {{ totalnc }}
    </div>
  </div>
  <div class="col-md-3">
    <div class="box">Usage/Institute
      <br/><br/>
      {{ totalexpts }}
    </div>
  </div>
</div>
<script type="text/javascript">
  var dashboard = function(){
  $('a[href="#admin-dashboard"]').click();
  }
</script>
