
<div class="row">
  <div class="col-md-10"><h2>Contact Details</h2></div>
 
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>Name</th>
          <th>Email</th>
          <th>Institute Name</th>

	  
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="o in oc">
          <td>{{ o.created_by['name'] }}</td>
          <td>{{ o.created_by['email'] }}</td>
          <td>{{ o.created_by['institute_name'] }}</td>

         
         
	</tr>
      </tbody>
    </table>
  </div>
</div>
