<div class="row">
  <div class="col-md-4">
    <div class="box" onclick="location.href='#/workshop_list'">Workshops Run
       <br><br><br>
      {{ totalworkshops }}
      </div>
      
    <div class="box" onclick="location.href='#/ocuser_list'">O.C
      <br><br><br>
      {{ totaloc }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="box" onclick="location.href='#/ncuser_list'">N.C
       <br><br><br>
      {{ totalnc }}
    </div>
    <div class="box">Usage/Institute
      <br><br><br>
      {{ totalexpts }}
    </div>
  </div>
</div>
