<div class="col-md-4">
  <form method="post" name="myForm" action="" style="margin-top:30px"  enctype="multipart/form-data">
    <input class="form-control" type="text" name="name" ng-model="name" placeholder="Enter the type of the file" required/><br>
    <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
      <span ng-show="myForm.name.$error.required">File name required</span>
    </span>
    <input type="file" name="file" ng-model="file" required/><br>
    <span style="color:red" ng-show="myForm.file.$dirty && myForm.file.$invalid">
      <span ng-show="myForm.file.$error.required">Document is required</span>
    </span>
    <input type="submit" value="Upload" class="btn btn-primary" />
  </form>
  <br><br>
  
</div>
