


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Edit Nodal Centre</h2>
   <span class="error"> {{ status }}</span>
    <form name="myForm" novalidate ng-submit="submit(myForm.$valid)">
      <p>Centre Name :<br>
	<input type="text" name="name" ng-model="centres.name"  class="form-control"  placeholder="User Name" required>
	<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
	  <span ng-show="myForm.user.$error.required">Centre name is required.</span>
	</span>
      </p>
      <p>Centre Location :<br>
	<input type="text" name="centre" ng-model="centres.location"
               class="form-control"  placeholder="Location name" required>
	<span style="color:red" ng-show="myForm.centre.$dirty && myForm.centre.$invalid">
	  <span ng-show="myForm.centre.$error.required">Location is required.</span>
	</span>
      </p>

     

      <p>
	<input type="submit" value="submit" class="btn btn-primary"  ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
                                  myForm.email.$dirty &&
                                  myForm.email.$invalid">
	<a href="#/manage-centres">Cancel</a>
      </p>

    </form>

  </div>
  <div class="col-md-4"></div>
</div>
