<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Edit Workshop</h2>
   <span class="error"> {{ status }}</span>
   <form name="myForm" novalidate ng-submit="submit(myForm.$valid)">
     <p>Workshop Name:<br>
       <input type="text" name="user" ng-model="message.name"  ng-pattern="/^[a-zA-Z0-9._-\s]*$/"  class="form-control"  placeholder="Workshop Name" required>
	<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
	  <span ng-show="myForm.user.$error.required">Workshop name is required.</span>
	  <span ng-show="myForm.user.$error.pattern">Enter valid name</span>
	</span>
     </p>
     <p>Location:<br>
       <input type="text" name="location" ng-model="message.location" ng-pattern="/^[a-zA-Z\s,]*$/" class="form-control"  placeholder="Location" required>
       <span style="color:red" ng-show="myForm.location.$dirty && myForm.location.$invalid">
	  <span ng-show="myForm.location.$error.required">Location is required.</span>
	  <span ng-show="myForm.location.$error.pattern">Enter valid location</span>
       </span>
      </p>
     <p>Participating Institues:<br>
	<input type="text" name="insts"
               ng-model="message.participating_institutes"  ng-pattern="/^[a-zA-Z._-\s]*$/" class="form-control"
               placeholder="Institute names" required>
	<span style="color:red" ng-show="myForm.insts.$dirty && myForm.insts.$invalid">
	  <span ng-show="myForm.insts.$error.required">Institute names required.</span>
	  <span ng-show="myForm.insts.$error.pattern">Enter valid institutes</span>
	</span>
      </p>
     <p>Total Participants:<br>
	<input type="number" name="parti" ng-model="message.no_of_participants_expected"  min="0" class="form-control"
               placeholder="Participants " required>
        <span class="error" ng-show="myForm.parti.$error.number">Not valid number!</span>`
	<span style="color:red" ng-show="myForm.parti.$dirty && myForm.parti.$invalid">
	  <span ng-show="myForm.parti.$error.required">Participants required.</span>
	</span>
     </p>
     <p>Sessions:<br>
       <input type="number" name="sessions" ng-model="message.no_of_sessions"
               class="form-control"  min="0" placeholder="Sessions" required>
       <span class="error" ng-show="myForm.sessions.$error.number">Not valid number!</span>
       <span style="color:red" ng-show="myForm.sessions.$dirty && myForm.sessions.$invalid">
	 <span ng-show="myForm.sessions.$error.required">Sessions required.</span>
	</span>
     </p>
     <p>Duration of Session:<br>
       <input type="text" name="session" ng-model="message.duration_of_sessions" ng-pattern="/^(2[0-3]|[01]?[0-9]):([0-5]?[0-9])$/"  min="0"  class="form-control"  placeholder="HH:MM" required>
       
       <span style="color:red" ng-show="myForm.session.$dirty && myForm.session.$invalid">
	  <span ng-show="myForm.session.$error.required">Sessions duration required.</span>
	  <span ng-show="myForm.session.$error.pattern">Enter valid time</span>
       </span>
     </p>
     <p>Labs Planned:<br>
       <input type="number" name="labs" ng-model="message.labs_planned"  class="form-control"
              placeholder="Labs planned" min="0" required>
        <span class="error" ng-show="myForm.labs.$error.number">Not valid number!</span>
	<span style="color:red" ng-show="myForm.labs.$dirty && myForm.labs.$invalid">
	  <span ng-show="myForm.labs.$error.required">Lab names required.</span>
	</span>
     </p>
      <p>Experiments Conducted:<br>
	<input type="number" name="exps" ng-model="message.experiments_conducted"  class="form-control"
               placeholder="Experiments Conducted" min="0" required>
        <span class="error" ng-show="myForm.exps.$error.number">Not valid number!</span>
	<span style="color:red" ng-show="myForm.exps.$dirty && myForm.exps.$invalid">
	  <span ng-show="myForm.exps.$error.required">Experiments conducted required.</span>
	</span>
      </p>
     <p>Date:<br>
	<input type="text" name="date" ng-model="message.date" id="datepicker"
               class="form-control"  placeholder="YYYY-MM-DD"  readonly="true" required>
        <span class="error" ng-show="myForm.date.$error.date">
	<span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
	  <span ng-show="myForm.date.$error.required">Username is required.</span>
	</span>
     </p>
     <p>
	<input type="submit" value="submit" class="btn btn-primary"  ng-disabled="myForm.$invalid">
	<a href="#/manage-workshops">Cancel</a>
     </p>
   </form>
  </div>
  <div class="col-md-4"></div>
</div>
<script>
  $(function() {
  $("#datepicker").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd'});
  });
</script>

