

<div class="row">
  <div class="col-md-10"><h2>Outreach Coordinator Details</h2></div>
  <div class="col-md-2">
     <a href="#/addoc" role="button" class="btn btn-success btn-large">ADD OC</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
	<tr>
          <th>S.NO</th>
	  <th>Name</th>
	  <th>Email</th>
          <th>Institute Name</th>
	  <th>Last Active</th>
	  <th>Created On</th>
          <th>&emsp;&emsp;&emsp;&emsp;Action</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="oc in oc_users">
          <td>{{ $index+1 }}</td>
          <td>{{ oc.name }}</td>
          <td>{{ oc.email }}</td>
          <td>{{ oc.institute_name }}</td>
          <td>{{ oc.last_active }}</td>
          <td>{{ oc.created }}</td>
          <td><a href="#/editoc/{{oc.id}}" class="btn btn-primary">Edit</a></td>
          <td><a class="btn btn-primary" ng-click="delete_oc(oc.id)">Delete</a></td>
	</tr>
      </tbody>
    </table>
  </div>
</div>







<!-- home.html
    <div class="jumbotron text-center" >
        <h1>Home Page</h1>
        
          <table border="1">
            <th align="center"></th>
            <tr>
               <td>Name</td>
              <td>Email</td>
               <td>Edit</td>
               <td>Delete</td>
              
             
            </tr>
           
            <tr ng-repeat="oc in message">
              
              <td>{{ oc.name }}</td>
              <td>{{ oc.email }}</td>
              <td><a href="#/editoc/{{oc.id}}">Edit</a></td>
              <td><a href="#/deloc/{{oc.id}}">Delete</a></td>
              
             
            </tr>
           
          </table>
        
    </div>
-->
