<div class="row">
  <div class="col-md-3">
    <div class="box1" onclick="location.href='#/manage-workshops/workshop-history'">
      Workshops<br/><br/>
      {{ count }}/{{ target_workshops }}
    </div>
  </div>
  <div class="col-md-3">
    <div class="box1" onclick="location.href='#/manage-workshops/workshop-history'">
      Usage<br/><br/>
      {{ experiments }}/{{ target_experiments }}
    </div>
  </div>
  <div class="col-md-3">
    <div class="box1" onclick="location.href='#/manage-workshops/workshop-history'">
      Participants <br/><br/>
      {{ participants }}/{{ target_participants }}
    </div>
  </div>
</div>
<script type="text/javascript">
  var dashboard = function(){
  $('a[href="#nc-dashboard"]').click();
  }
</script>
