<div class="row">
  <div class="col-md-10"><h2>Nodal Coordinators Details</h2></div>
  <div class="col-md-2">
    <a onclick="history.back();" role="button" class="btn btn-success btn-large">Back</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-stripped">
      <thead>
	<tr>
          <th>S.NO</th>
	  <th>Name</th>
	  <th>Email</th>
          <th>Last Active</th>
	  <th>Institute Name</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="nc in nc_users">
          <td>{{ $index+1 }}</td>
          <td>{{ nc.name }}</td>
          <td>{{ nc.email }}</td>
          <td>{{ nc.last_active }}</td>
          <td>{{ nc.institute_name }}</td>
	</tr>
      </tbody>
    </table>
    </div>
  </div>
</div>





