<div ng-controller="ws_details">
  <div class="col-md-11"><h3>Total Nodal Centers :  {{ nodalCenter.length }}</h3></div>
  <div class="col-md-1">
    <br><br>
    <a onclick="history.back();" role="button" class="btn btn-success btn-large">Back</a>
  </div>
  <br><br><br><br>
  <div align='center' ng-show="loading"><img id="mySpinner" src="/static/img/default.gif"></div>
  <div ng-hide="loading">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>S.No</th>
	  <!--<th>Institute Name</th>-->
          <th>Nodal Center Name</th>
	  <th>Participating College Name</th>
          <th>Location</th>
        </tr>
      </thead>
        <tbody ng-repeat="center in nodalCenter | orderBy : 'name'">
          <tr>
            <td>{{ $index+1 }}</td>
	  <!--  <td>{{ center.created_by.institute_name }}</td>-->
            <td>{{ center.name }}</td>
	    <td>{{ center.name }}</td>
            <td>{{ center.location }}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
