<div ng-controller="ws_details">
  <h3>Total Institutes :  {{ total_ncenters }}</h3><br>
  <div align='center' ng-show="nloading"><img id="mySpinner" src="/static/img/default.gif"></div>
  <div ng-hide="nloading">
    <table class="table table-hover" >
      <thead>
        <tr>
          <th>S.No</th>
          <th>Institute Name</th>
          <th>Total Active Nodal Centers</th>
        </tr>
      </thead>
      <tbody ng-repeat="center in nc_analytics">
        <tr ng-if="center.institute_name!='VLEAD'">
          <td>{{ $index+1 }}</td>
          <td><a href="/ncentres#/nodal-center/{{center.user_id}}">{{ center.institute_name }}</a></td>
          <td>{{ center.total_nodal_centres }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
