<div class="row">
  <div class="col-md-10"><h2>My Documents</h2></div>
  <div class="col-md-2">
    <a href="#/adddoc" role="button" class="btn btn-success btn-large">ADD DOCUMENT</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>View</th>
          <th>Delete</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="document in documents">
          <td>{{ document.name }}</td>
          <td><a href="{{ document.path }}" class="btn btn-primary" target="_blank" >View</a></td>
          <td><a ng-click="deldoc(document.id)" class="btn btn-danger">Delete</a></td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-10"><h2>Admin Documents</h2></div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>View</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="document in admindocs">
          <td>{{ document.name }}</td>
          <td><a href="{{ document.path }}" class="btn btn-primary" target="_blank" >View</a></td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
