


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Edit Outreach Coordinator  details</h2>
   <span class="error"> {{ status }} </span>
    <form name="myForm" novalidate ng-submit="submit()">

      <p>Name:<br>
	<input type="text" class="form-control" name="user" ng-model="message[0].name" required>
	<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
	  <span ng-show="myForm.user.$error.required">Username is required.</span>
	</span>
      </p>

      <p>Email:<br>
	<input type="email" name="email"  class="form-control"  ng-model="message[0].email" required>
	<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
	  <span ng-show="myForm.email.$error.required">Email is required.</span>
	  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
	</span>
      </p>

      <p>
	<input type="submit" value="Save" class="btn btn-primary"  ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
                                  myForm.email.$dirty &&
                                  myForm.email.$invalid">
	<a href="#/manageoc">Cancel</a>
      </p>

    </form>

  </div>
  <div class="col-md-4"></div>
</div>









