<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#oc-manage-workshops">My Workshops</a></li>
  <li><a data-toggle="tab" href="#oc-manage-workshops/nc-workshops">Nodal Coordinator Workshops</a></li>
  <li><a data-toggle="tab" href="#oc-manage-workshops/oc-workshop-history">Workshop History</a></li>
  <li><a data-toggle="tab" href="#/add-workshop" role="button">ADD WORKSHOP</a></li>
  <li> <input placeholder="search workshop" type = "text" ng-model = "workshopName"></li>
</ul>
<div class="row" style="margin-top: 30px">
  <!-- <div class="col-md-10"></div> -->
  <!-- <div class="col-md-2"> -->
  <!--   <a href="#/add-workshop" role="button" class="btn btn-success btn-large">ADD WORKSHOP</a> -->
  <!-- </div> -->
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
	<tr>
          <th ng-click="sort('name')">Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('version')">Version
                <span class="glyphicon sort-icon" ng-show="sortKey=='version'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('location')">Location
                <span class="glyphicon sort-icon" ng-show="sortKey=='location'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('no_of_participants_expected')">Expected
            Participants
                <span class="glyphicon sort-icon" ng-show="sortKey=='no_of_participants_expected'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>

          <th ng-click="sort('participants_attended')">Actual
            Participants
                <span class="glyphicon sort-icon" ng-show="sortKey=='participants_attended'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('date')">Date
                <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th>Status</th>
	</tr>
      </thead>
      <tbody>
        <tr ng-repeat="workshop in upcoming | filter: workshopName | orderBy:sortKey:reverse">
          <td>{{ workshop.name }}</td>
	  <td>{{ workshop.version }}</td>
          <td>{{ workshop.location }}</td>
          <td>{{ workshop.no_of_participants_expected }}</td>
	  <td>{{ workshop.participants_attended }}</td>
          <td>{{ workshop.date }}</td>
          <td>{{ workshop.status.name }}</td>
          <td><button class="btn btn-primary" ng-click="cancel(workshop.id)">Cancel</button></td>
          <td><a href="#/edit-workshop/{{workshop.id}}" class="btn btn-primary">Edit</a></td>
          <td ng-if="workshop.status.name == 'Pending for Approval'"><a href="#/oc-upload-reports/{{workshop.id}}" class="btn btn-primary">Upload Reports</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
