<div>
  <h1> Upload Photos </h1>
  <form method="post" id="upload-file" name="myForm" action="" style="margin-top:30px"  enctype="multipart/form-data">
    <input type="file" name="file" id="photo-file" required multiple/><br>
 
 
  <br><br>
   <h1> Upload Attendance Sheets </h1>
 
    <input type="file" name="file" id="attendance-file" required multiple/><br>
 
 
  <br><br>
   <h1> Upload College Reports </h1>
 
    <input type="file" name="file" id="reports-file" required multiple/><br>
    <button type="button" id="upload-reports" class="btn btn-primary">Upload</button>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script>
   $(function() {
   $('#upload-reports').click(function() {
        var workshop_id = location.href.split("/").pop()
        console.log(number);
       
        fileups = {'Photos':document.getElementById('photo-file'),
                   'Attendance':document.getElementById('attendance-file'),
                   'Reports': document.getElementById('reports-file')}
        for (var key in fileups){
        data = {name: key, workshop: {id : workshop_id }};
        for (var i = 0; i < fileups[key].files.length; i++){
        var jqxhr = $.ajax({
            url: '/workshop_reports',
            type: 'POST',
            global: false,
            async:false,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data){
                return data ;
            },
        }).responseText;

        var documentId = JSON.parse(jqxhr).id;
        console.log(documentId);
        var form_data = new FormData();
       
        form_data.append('file', fileups[key].files[i], fileups[key].files[i].name);
        var url = '/upload_workshop_report/' + documentId ;
   
        $.ajax({
            type: 'POST',
            url: url,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
                console.log('Success');
            },
       });
     }
    }
    var url = '/workshops/'+workshop_id;                        
    $.ajax({
        url: url,
        type: 'PUT',
        async:false,
        contentType: 'application/json',
        data: JSON.stringify({status: {id: 3}}),
        success: function (data){
          console.log('Status: Approved');
        }
        });                    
    window.history.back();                                  
    });                        
});
 </script>
</div>
