<div ng-app="outreachApp">
  <div class="container">
    <div ng-controller="participants-ctrl">
      <h3>Institute wise Total Participants Attended </h3><br>
      <div align='center' ng-show="loading"><img id="mySpinner" src="/static/img/default.gif"></div>
      <div class="row" ng-hide="loading">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>S.NO</th>
                <th>Institute Name</th>
                <th>Participants Attended</th>
              </tr>
            </thead>
            <tbody ng-repeat="usage in usages">
              <tr ng-if="usage.institute_name!='VLEAD'">
                <td>{{ $index+1 }}</td>
                <td>{{ usage.institute_name }}</td>
                <td>{{ usage.total_participants_attended }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

