<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#manage-workshops">Upcoming Workshops</a></li>
  <li  class="active"><a data-toggle="tab" href="#manage-workshops/pending-action">Pending Action Workshops</a></li>
  <li><a data-toggle="tab" href="#manage-workshops/workshop-history">Workshop History</a></li>
</ul>
<div class="row" style="margin-top: 30px">
  <div class="col-md-10"><h2>Pending Workshop  Details</h2></div> 
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Location</th>
          <th>Participants</th>
	  <th>Date</th>
          <th>Action</th>
	  
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="workshop in pending">
          <td>{{ workshop.name }}</td>
          <td>{{ workshop.location }}</td>
          <td>{{ workshop.no_of_participants_expected }}</td>
          <td>{{ workshop.date }}</td>
          <td><a class="btn btn-primary" href="#/upload_reports/{{workshop.id}}">Upload Reports</a></td>
         
	</tr>
      </tbody>
    </table>
  </div>
</div>
