<div class="row">
  <div class="col-md-10"><h2>Workshop Documents</h2></div>
  
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Download</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="doc in reports">
          <td>{{ doc.name }}</td>
          <td><a href="{{ doc.path }}" class="btn btn-primary" target="_blank" >Click here</a></td>
	</tr>
      </tbody>
    </table><br>
    Reasons for disapproval (if any):<br><br>
    <textarea rows="4" cols="50" ng-model="remarks">
      
    </textarea><br><br>
    <button ng-click="approve()" class="btn btn-primary">Approve</button>&emsp; <button ng-click="disapprove()" class="btn btn-primary">Disapprove</button>
  </div>
</div>



