

<div class="row">
  <div class="col-md-10"><h2>Workshop Details</h2></div>
  <div class="col-md-2">
    <a onclick="history.back();" role="button" class="btn btn-success btn-large">Back</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-stripped">
      <thead>
	<tr>
          <th>S.NO</th>
	  <th>Workshop Name</th>
	  <th>Location</th>
	  <th>Date</th>
          <th>Participating Institutes</th>
	  <th>Participants Attended</th>
          <th>Labs Planned</th>
          <th>Total Sessions</th>
          <th>Duration of Session (In hrs)</th>
          <th>Experiments Conducted</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="workshop in workshops">
          <td>{{ $index+1 }}</td>
          <td>{{ workshop.name }}</td>
          <td>{{ workshop.location }}</td>
          <td>{{ workshop.date }}</td>
          <td>{{ workshop.participating_institutes }}</td>
          <td>{{ workshop.participants_attended }}</td>
          <td>{{ workshop.labs_planned }}</td>
          <td>{{ workshop.no_of_sessions }}</td>
          <td>{{ workshop.duration_of_sessions }}</td>
          <td>{{ workshop.experiment_conducted }}</td>

	</tr>
      </tbody>
    </table>
    </div>
  </div>
</div>







<!-- home.html
    <div class="jumbotron text-center" >
        <h1>Home Page</h1>
        
          <table border="1">
            <th align="center"></th>
            <tr>
               <td>Name</td>
              <td>Email</td>
               <td>Edit</td>
               <td>Delete</td>
              
             
            </tr>
           
            <tr ng-repeat="oc in message">
              
              <td>{{ oc.name }}</td>
              <td>{{ oc.email }}</td>
              <td><a href="#/editoc/{{oc.id}}">Edit</a></td>
              <td><a href="#/deloc/{{oc.id}}">Delete</a></td>
              
             
            </tr>
           
          </table>
        
    </div>
-->
