@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body{
	font-family: 'Raleway', sans-serif;
}
.navbar-custom{
	min-height: 90px;
	margin-bottom: 0;
}
.navbar-brand{
	padding-top: 5px; 
}
.logo-img{
	width: 150px;
	height: auto;
}
.analytics-band{
	text-align: center;
	background: #196B9E;
	margin: 0;
	color: #fff;
}
.analytics-band .analytics{
	padding: 10px 20px;
	font-size:12px;
	font-weight: 300;
}
.analytics-band .workshops-run{
	background: #C76135;
}
.analytics-band .labs-taken{
	background: #99A819;
}
.analytics-band .nodal-centers{
	background: #2F3F3A;
}
.number{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.section-one{
	margin-top: 20px;
}
#map{
	border: solid 1px #ccc;
	height: 350px;
}
#btn-signin{
	margin-top: 20px;
	border-radius: 3px;
}
.section-two{
	margin-top: 30px;
	color: #404040;
	font-size: 16px;
}
.section-two .title{
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
}
.section-two .workshop-row{
	border-bottom: solid 1px #ccc; 
	padding-top: 20px;
	padding-bottom: 20px;

}

.section-two .workshop-row:hover{
	background: #eee;
}

