{% extends "layout.html" %}
{% block content %}

<div ng-app="outreachApp">
  <div class="row admin">
    <div class="col-md-3 side-pane">
      <ul class="nav nav-pills nav-stacked">
	<li class="active"><a data-toggle="pill"  href="#dashboard">Dashboard</a></li>
	<li><a data-toggle="pill" href="#manageoc">Manage OC</a></li>
	<li><a data-toggle="pill" href="#documents">Documents</a></li>
	<li><a data-toggle="pill" href="#profile">My Profile</a></li>
      </ul>
    </div>
    <div class="col-md-9 content">
      <div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="dashboard">
	  <div class="row">
	    <div class="col-md-4">
	      <div class="box">Workshops Run</div>
	      <div class="box">O.C</div>
	    </div>
	    <div class="col-md-4">
	      <div class="box">N.C</div>
	      <div class="box">Usage/Institute</div>
	    </div>
	  </div>
	</div>
	<div role="tabpanel" class="tab-pane" id="manageoc">
          <div ng-controller="mainController">
              <div ng-view>
              </div>
            </div>
        
        </div>
	  <div role="tabpanel" class="tab-pane" id="documents">Documents</div>
	  <div role="tabpanel" class="tab-pane" id="profile">
	    <div class="row">
	      <div class="col-md-2"></div>
	      <div class="col-md-4 profile">
	       <div class="name">{{session.name}}</div>
	       <div class="email">{{session.email}}</div>
	      </div>
	      <div class="col-md-6"></div>
	    </div>
	  </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
