<div class="container-fluid footer-div" style="background: #404040; margin-top: 40px;  padding: 20px;">
  <div class="col-md-4 border-right-green-dotted">
    <h2 class="text-h2-lightblue-small" style="font-weight: bold;margin-top: 0px;">Updates</h2>
    <a href="http://community.virtual-labs.ac.in/w/index.php/Download" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> Lab Integration Kit Releases</a><br>
    <a href="http://community.virtual-labs.ac.in/w/index.php/First_Integration_workshop" class="text-normal-gray-small nounderline" style="color: white" target="_blank">First Integration Workshop at IIIT Hyderabad</a><br>
    <a href="http://community.virtual-labs.ac.in/w/index.php/Summer_Sprint_Integration_workshop" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> Summer Integration Workshop at IIT Guwahati</a><br>
    <a href="http://community.virtual-labs.ac.in/w/index.php/QA/Integration_workshop" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> QA Integration
      Workshop at IIIT Hyderabad</a><br>
    <a href="http://community.virtual-labs.ac.in/w/index.php/A_new_set_of_25_Virtual_Labs_on_Portable_Media" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> A new set of 25 Virtual Labs on Portable Media</a>
    
  </div>
  <div class="col-md-3 border-right-green-dotted" id="contact">
    <a href="http://vlabs.ac.in:5959/contactus" class="text-normal-gray-small nounderline" style="color:white" target="_blank">Contact us</a><br>
    
    <a href="http://feedback.vlabs.ac.in/" class="text-normal-gray-small nounderline" style="color:white" target="_blank"> Feedback</a><br>
    
    <a href="http://vlabs.ac.in:5959/licensing/" class="text-normal-gray-small nounderline" target="_blank" style="color:white; line-height:20px;"> Licensing</a>
    
    <a href="https://plus.google.com/communities/104131148292250423165" class="text-normal-gray-small nounderline" target="_blank" style="color:white; line-height:40px;"> Teachers' Community</a>

    <a href="http://209.211.220.205/labassessment/assessmentform.html" class="text-normal-gray-small nounderline" target="_blank" style="color:white;"> Lab Assessment Form</a><br>
    <a href="http://vlabs.ac.in:5959/college-cloud-edition" class="text-normal-gray-small nounderline" style="color:white" target="_blank"> College Cloud Edition</a><br>
    
    <a href="http://vlabs.ac.in:5959/workshops" class="text-normal-gray-small nounderline" style="color:white" target="_blank"> Expression of Interest for Workshop</a>
  </div>  
  <div class="col-md-3 border-right-green-dotted">
    <a href="http://vlabs.ac.in:5959/faq/" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> FAQ</a><br>
    <a href="http://community.virtual-labs.ac.in/w/index.php/Main_Page" class="text-normal-gray-small nounderline" style="color: white" target="_blank">Community</a><br>
    <a href="http://outreach.virtual-labs.ac.in/ncentres" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> Nodal Centers</a><br>
    <a href="http://www.sakshat.ac.in/" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> Sakshat Portal</a><br>
    <a href="http://outreach.vlabs.ac.in/" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> Outreach Portal</a><br>
    <a href="http://vlabs.ac.in:5959/announcements/index.html" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> Announcements</a><br>
    <a href="http://209.211.220.205/vlabiitece/" class="text-normal-gray-small nounderline" style="color: white" target="_blank"> Labs Developed by Nodal Centers</a>
  </div>
  <div class="col-md-2">
    <div class="social">
      <ul class="social-share" style="margin-top:2em">
	<ul>
	  <li style="display:inline"><a href="https://www.facebook.com/pages/Virtual-Labs-IIT-Delhi/301510159983871"><img src="/static/img/fb.png"></a></li>	    <li style="display:inline "><a href="https://twitter.com/TheVirtualLabs"><img src="/static/img/twitter.png"></a></li>
	  <li style="display:inline"><a href="http://linkedin.com"><img src="/static/img/linkedin.png"></a></li>
	  <li style="display:inline"><a href="https://www.youtube.com/watch?v=mVBYNXLaDdg"><img src="/static/img/youtube.png"></a></li>
	</ul>
      </ul>
    </div>
  </div>
</div>

