{% extends "layout.html" %}
{% block content %}
{% raw %}
<div ng-app="outreachApp">
  <div class="analytics-band">
    <div style="margin-left:20px;">
      <div class="row" ng-controller="admin-ctrl">
        <div class="col-md-2 analytics upcoming col d-flex flex-row justify-content-center align-items-center" ng-controller="upcoming-ctrl" onclick="scrollWin()">
          <i class="fa fa-calendar fa-8x circle-icon" style="background: #ef4075;color: #ffffff;"></i>
	  <div>
          <span class="number" ng-show="IsVisible">{{ totalUpcomingWorkshopsList.toLocaleString() }}</span>
          <span class="number" ng-hide="IsVisible"><img alt="mySpinner" src="/static/img/default1.gif"></span><br><p style="color: #aab2bd;">UPCOMING WORKSHOPS</p>
	  </div>
        </div>
        <div class="col-md-3 analytics labs-taken participants-attended" ng-click="showParticipants()">
          <i class="fa fa-users fa-8x circle-icon" style="background: #33c92e;color: #ffffff;"></i>
	  <div>
          <span class="number" ng-show="IsVisible">{{ totalParticipants.toLocaleString()  }}</span>
          <span class="number" ng-hide="IsVisible"><img alt="mySpinner" src="/static/img/default1.gif"></span><br><p style="color: #aab2bd;">PARTICIPANTS ATTENDED</p>
	  </div>
        </div>
        <div class="col-md-2 analytics nodal-centers" ng-click="showNcentres()">
          <i class="fa fa-location-arrow fa-8x circle-icon" style="background: #fd3258;color: #ffffff;"></i>
	  <div>
          <span class="number" ng-show="IsVisible">{{ totalNodalCentres.toLocaleString()  }}</span>
          <span class="number" ng-hide="IsVisible"><img alt="mySpinner" src="/static/img/default1.gif"></span><br><p style="color: #aab2bd;">NODAL CENTRES</p>
	  </div>
        </div>
        <div class="col-md-2 analytics workshops-run" ng-click="showWorkshops()">
          <i class="fa fa-cogs fa-8x circle-icon" style="background: #fed961;color: #ffffff;"></i>
	  <div>
          <span class="number" ng-show="IsVisible">{{ totalWorkshops.toLocaleString() }}</span>
          <span class="number" ng-hide="IsVisible"><img alt="mySpinner" src="/static/img/default1.gif"></span><br><p style="color: #aab2bd;">WORKSHOPS RUN</p>
          </div>
	</div>
        <div class="col-md-3 analytics usage" ng-click="showUsage()">
          <i class="fa fa-bar-chart fa-8x circle-icon" style="background: #24d5d8;color: #ffffff;"></i>
	  <div>
          <span class="number" ng-show="IsVisible">{{ totalUsage.toLocaleString() }}</span>
          <span class="number" ng-hide="IsVisible"><img alt="mySpinner" src="/static/img/default1.gif"></span><br><p style="color: #aab2bd;">USAGE</p>
	  </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div ng-controller="map-ctrl">
      <div class="section-one">
	<div class="row">
	  <div class="col-md-3">
	    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FVirtual-Labs-IIT-Delhi-301510159983871%2F&amp;tabs=timeline&amp;width=300&amp;height=350&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" style="border:none;overflow:hidden" scrolling="no" allowtransparency="true" allow="encrypted-media" width="350" height="400" frameborder="0"></iframe>
	  </div>
          <div ng-controller="map-ctrl">
            <div class="col-md-6">
              <div style="height: 400px; width: 637px;" id="map">
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <a class="twitter-timeline" data-width="354" data-height="400"
               href="https://twitter.com/TheVirtual_Labs?ref_src=twsrc%5Etfw">Tweets by TheVirtual_Labs</a>
            <script type="text/javascript" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          
  </div>
  <div ng-controller="upcoming-ctrl">
    <div class="col-md-12" ng-if="upcomingWorkshopsList.length !=0">
      <h2 style="text-align:center">Upcoming Workshops</h2>
      <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="upcomingWorkshopsGrid"></div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
{% endraw %}
<script type="text/javascript">
  function scrollWin() {
  window.scrollBy(0, 900);
  }
</script> 
{% endblock %}
  
  
