<ul class="nav nav-tabs">
  <li><a style="color:#ffffff;" data-toggle="tab" href="#manage-workshops">Upcoming Workshops</a></li>
  <li  class="active"><a data-toggle="tab" href="#manage-workshops/pending-workshops">Pending Workshops</a></li>
  <li><a style="color:#ffffff;" data-toggle="tab" href="#manage-workshops/workshop-history">Workshop History</a></li>
  <li><a style="color:#ffffff;" data-toggle="tab" href="#manage-workshops/add-workshop">ADD WORKSHOP</a></li>
</ul>
<div class="row" style="margin-top: 30px">
  <div class="col-md-12" ng-if="pending.length !=0">  
    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="ocworkshopGrid" external-scopes="clickHandler"></div>
  </div>
</div>
