<div class="row">
  <div class="col-md-10"><h2>Outreach Workshops Usage Details</h2></div>
  <div class="col-md-2">
    <a onclick="history.back();" role="button" class="btn btn-success btn-large">Back</a>
  </div>
</div>
<br>
<div align='center' ng-show="usageloading"><img id="mySpinner" src="/static/img/default.gif"></div>
<div class="row" ng-hide="usageloading">
  <div class="col-md-12">
    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="ocworkshopGrid" external-scopes="clickHandler"></div>
  </div>
</div>

