@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: 'Raleway';
    background-color: #f8f8f8;
}
label {
    font-weight: normal; 
}
.navbar-custom{
	min-height: 90px;
	margin-bottom: 0;
}
.navbar-brand{
	padding-top: 5px; 
}

.navbar {
    background: #ffffff;
    margin-bottom: 0px !important;
}

img:hover{
   cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.logo-img{
	width: 100px;
	height: auto;
}
.analytics-band{
	text-align: center;
	margin: 0;
	color: #32323d;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #f8f8f8;
}
.analytics-band .analytics{
	padding: 0px 0px;
	font-size:16px;
	font-weight: 600;
}
.nodal-centers:hover {
    cursor: pointer;
}
.workshops-run:hover {
    cursor: pointer;
}

.usage:hover {
    cursor: pointer;
}

.participants-attended:hover {
    cursor: pointer;
}

.upcoming:hover {
    cursor: pointer;
}

.number{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.section-one{
	margin-top: 20px;
}
#map{
	border: solid 2px #ccc;
	height: 500px;
}
.error{
    color: red;
    font-weight: 400;
}
.btn-signin{
        margin-top: 20px;
	border-radius: 3px;
	vertical-align: 0px;
}
.section-two{
	margin-top: 30px;
	color: #404040;
	font-size: 16px;
}
.section-two .title{
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
}
.section-two .workshop-row{
	border-bottom: solid 1px #ccc; 
	padding-top: 20px;
	padding-bottom: 20px;

}

.section-two .workshop-row:hover{
	background: #eee;
}

/* admin.html Styles */

.nav-pills > li.active > a,.nav-pills > li.active > a:focus,.nav-pills > li.active > a:hover{
    padding-left: 40px;
    background-color: #474e5d;

}
.nav-pills > li > a, .nav-pills > li > a:focus, .nav-pills > li > a:hover{
    padding-left: 40px;
    color: #818181;
    /* background-color: #474e5d; */ !
} 

/* .sidebar a:hover { */
nav > li > a:focus, .nav > li > a:hover {
			text-decoration: none;
			background-color: #474e5d;
			background-color: ;
		    }
/*     color: #474e5d; */
/* } */

.sidebar .nav .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    font-weight: 500;
}

.admin{
    margin: 0;
}							   
.side-pane{
    background-color: #363535;
    padding: 0;
    padding-top: 40px;
    min-height: 460px;
    /* height: 780px;` */
}
.content{
    padding: 40px 40px; 
}


/* Sub-tabs in admin  */
.box{
    border-radius: 0px;
    height: 160px;
    font-size: 16px;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: #fff;
}
.box:hover {
    cursor: pointer;
    background: #028482;
}
.box1{
    background: #3799FA;
    width: 250px;
    height: 170px;
    font-size: 18px;
    margin: 0 10px 10px 10px;
    text-align: center;
    padding: 10px 5px;
    color: #fff;
}

.box1:hover {
    cursor: pointer;
    background: #028482;
}

.profile{
    background-color: #3799FA;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    border-radius: 10px ;
    padding: 30px 40px;
}
.profile .name, .profile .email{
    border-bottom: dashed 1px #ccc;
    padding: 10px 0;
}

.text-h2-lightblue-small
{
    font-family: 'Raleway'; 
	color: #2C99CE;
	font-size: 1.5em;
}
.text-a-lightgreen
{
        font-family: 'Raleway' !important;    
	color: #72AB44;
	font-size: 1.3em;
	text-decoration: underline;
}

.text-a-lightgreen:HOVER
{
    color: #72AB44; 
}

.text-normal-gray-small
{
    font-family: 'Raleway' !important;    
	color: #888;
	font-size: 16px;
}

.border-right-green-dotted
{
	border-right: 2px dotted;
	 margin-top: 30px;
	 border-right-color: #678f48;
	 min-height: 115px;
}

.centeractive, .centerinactive {font-size:36px !important;cursor:pointer;}
.centeractive, .centerinactive {font-size:36p !importantx;cursor:pointer;}
i.centeractive { color: #5cb85c}
i.centerinactive {color: #d9534f}

.upcomingWorkshopsGrid {
    width: 1024px;
    height: 300px;
}

.nodalCenterGrid .workshopGrid{
    width: 1024px;
    height: 300px;
}

.ocworkshopGrid {
    width: 1024px;
    height: 300px;

}

.fa {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 21px;
}

      
.fa:hover {
    opacity: 0.7;
}
                                                                                                                                                      
.fa-facebook {
    padding: 13px;
    background: #3B5998;
    color: white;
    margin: 5px 2px;
    width: 60px;
    font-size: 27px;
}

.fa-twitter {
    padding: 13px;    
    background: #55ACEE;
    color: white;
    margin: 5px 2px;
    width: 60px;
    font-size: 27px;
}

.fa-linkedin {
    padding: 13px;    
    background: #007bb5;
    color: white;
    margin: 5px 2px;
    width: 60px;
    font-size: 27px;
}

.fa-youtube {
    padding: 13px;    
    background: #bb0000;
    color: white;
    margin: 5px 2px;
    width: 60px;
    font-size: 27px;
}

.circle-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    padding: 0px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-nav {
    flex-direction: row;
    align-items: center;
}


.container-fluid {
    padding-right: 30px;!important;
    padding-left: 30px;
    margin-right: auto;!important;
    margin-left: auto;
    padding-bottom: 19px;
}
#viewBtn{
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
#editBtn{
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
#uploadBtn{
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}