@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: 'Raleway';
}
label {
    font-weight: normal; 
}
.navbar-custom{
	min-height: 90px;
	margin-bottom: 0;
}
.navbar-brand{
	padding-top: 5px; 
}
img:hover{
   cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.logo-img{
	width: 150px;
	height: auto;
}
.analytics-band{
	text-align: center;
	/* background: #196B9E; */
	margin: 0;
	color: #fff;
}
.analytics-band .analytics{
	padding: 10px 20px;
	font-size:16px;
	font-weight: 600;
}
.analytics-band .workshops-run{                                                                             
        background: #2F3F3A;                                                                                
}                                                                                                           
.analytics-band .labs-taken{                                                                                
        background: #808080;                                                                                
}                                                                                                           
.analytics-band .nodal-centers{                                                                             
        background: #99A819;                                                                                
}
.nodal-centers:hover {
    cursor: pointer;
}
.workshops-run:hover {
    cursor: pointer;
}

.usage:hover {
    cursor: pointer;
}

.participants-attended:hover {
    cursor: pointer;
}

.analytics-band .upcoming{                                                                                  
        background: #C76135;                                                                                
}
.upcoming:hover {
    cursor: pointer;
}

.analytics-band .usage{
	background: #FFCC00;
}
.number{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.section-one{
	margin-top: 20px;
}
#map{
	border: solid 1px #ccc;
	height: 500px;
}
.error{
    color: red;
    font-weight: 400;
}
.btn-signin{
        margin-top: 20px;
	border-radius: 3px;
	vertical-align: 0px;
}
.section-two{
	margin-top: 30px;
	color: #404040;
	font-size: 16px;
}
.section-two .title{
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
}
.section-two .workshop-row{
	border-bottom: solid 1px #ccc; 
	padding-top: 20px;
	padding-bottom: 20px;

}

.section-two .workshop-row:hover{
	background: #eee;
}

/* admin.html Styles */

.nav-pills > li.active > a,.nav-pills > li.active > a:focus,.nav-pills > li.active > a:hover{
    border-radius: 0px;
    padding-left: 40px;
}
.nav-pills > li > a, .nav-pills > li > a:focus, .nav-pills > li > a:hover{
    border-radius: 0;
    padding-left: 40px;
}
.admin{
    margin: 0;
}							   
.side-pane{
    background-color: #eee;
    padding: 0;
    padding-top: 40px;
    min-height: 460px;`
    /* height: 780px;` */
}
.content{
    padding: 40px 40px; 
}


/* Sub-tabs in admin  */
.box{
    background: #3799FA;
   
    border-radius: 5px;
    height: 100px;
    font-size: 16px;
   
    text-align: center;
    padding: 10px 0px;
    color: #fff;
}
.box:hover {
    cursor: pointer;
    background: #028482;
}
.box1{
    background: #3799FA;
    width: 150px;
    border-radius: 5px;
    height: 100px;
    font-size: 18px;
    margin: 0 10px 10px 10px;
    text-align: center;
    padding: 10px 5px;
    color: #fff;
}

.box1:hover {
    cursor: pointer;
    background: #028482;
}

.profile{
    background-color: #3799FA;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    border-radius: 10px ;
    padding: 30px 40px;
}
.profile .name, .profile .email{
    border-bottom: dashed 1px #ccc;
    padding: 10px 0;
}

.text-h2-lightblue-small
{
    font-family: 'Raleway'; 
	color: #2C99CE;
	font-size: 1.5em;
}
.text-a-lightgreen
{
        font-family: 'Raleway' !important;    
	color: #72AB44;
	font-size: 1.3em;
	text-decoration: underline;
}

.text-a-lightgreen:HOVER
{
    color: #72AB44; 
}

.text-normal-gray-small
{
    font-family: 'Raleway' !important;    
	color: #888;
	font-size: 16px;
}

.border-right-green-dotted
{
	border-right: 2px dotted;
	 margin-top: 30px;
	 border-right-color: #678f48;
	 min-height: 115px;
}

.centeractive, .centerinactive {font-size:36px !important;cursor:pointer;}
.centeractive, .centerinactive {font-size:36p !importantx;cursor:pointer;}
i.centeractive { color: #5cb85c}
i.centerinactive {color: #d9534f}

.upcomingWorkshopsGrid {
    width: 1024px;
    height: 300px;
}

.nodalCenterGrid .workshopGrid{
    width: 1024px;
    height: 300px;
}

.ocworkshopGrid {
    width: 1024px;
    height: 300px;

}

.fa {
    padding: 13px;
    font-size: 27px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

      
.fa:hover {
    opacity: 0.7;
}
                                                                                                                                                      
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

