<div class="row">
  <div class="col-md-4">
    <div class="box">
      Workshops<br><br><br>{{ session.email }}
      <span>{{ count }}/{{ target_workshops }}</span>
      
    </div>
    <div class="box">
      Experiments<br><br><br>
       {{ experiments }}/{{ target_experiments }}
    </div>
  </div>
  <div class="col-md-4">
    <div class="box">
      Participants
      <br><br><br>
       {{ participants }}/{{ target_participants }}
    </div>
    <div class="box">
      Nodal Centers<br><br><br>
      
    </div>
  </div>
</div>
